

/* customised plugin:dropzone*/

/* Author: chandra pratap*/

#demo-files{list-style-type:none; text-align: left;}

.attached-list{float:left;}

.demo-panel-files li{float: left; width: auto;margin-right: 5px; font-size:11px;font-weight:600;    word-wrap: break-word;
    word-break: break-all;}

.demo-panel-files li .link {

    color: #fc8c04;

}



.demo-panel-files {

    list-style-type: none;

    text-align: left;

}





